<section class="mainSection">
  <div>
    <h2><span>Our Projects</span></h2>
  </div>
  <div class="cardsSection">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project1</mat-card-title>
          <mat-card-subtitle>Working</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-2.jpg">
        <mat-card-content>
          <p>
            Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert
            commodo re luctus libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur vel lorem sit
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project2</mat-card-title>
          <mat-card-subtitle>In progress</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-3.jpg">
        <mat-card-content>
          <p>
            Hamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante,
            egestas id dictum aterert commodo re luctus libero. Praesent faucibus malesuada cibuste.
            Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project3</mat-card-title>
          <mat-card-subtitle>Completed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-4.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="cardsSection">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project4</mat-card-title>
          <mat-card-subtitle>In Progress</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-5.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project5</mat-card-title>
          <mat-card-subtitle>Completed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-6.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project6</mat-card-title>
          <mat-card-subtitle>Working</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-7.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="cardsSection">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project7</mat-card-title>
          <mat-card-subtitle>Working</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-8.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project8</mat-card-title>
          <mat-card-subtitle>Completed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-2_img-9.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>Project9</mat-card-title>
          <mat-card-subtitle>In progress</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/index-3_img-1.jpg">
        <mat-card-content>
          <p>
            Famus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
