.mainSection {
  div {
    h2 {

      text-decoration: underline;
      font-size: 50px;
      text-align: center;
      font-weight: lighter;
    }
  }
}

.mainSection {
  margin-top: 190px;
}

.cardsSection {
  width: 800px;
  margin: auto;
  .card {
    width: 250px;
    display: inline-block;
  }
}
