<section>
  <div class="mainDiv">
    <div class="imageClass">
      <!-- <img src="../../assets/slider1.jpg">-->
      <div class="fontIcon">
        <h1>We'll Give Your Business Fresh Ideas</h1>
        <h3>Contact us by</h3>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
    <div class="secondDiv">
      <h1>Welcome to Our Agency</h1>
      <h4>
        <a href="#"> Nullam Concester Tur Nerto</a>
      </h4>
      <p>
        Gamus at magna non nunc tristique rhoncuseri tym. Aliquam nibh ante, egestas id dictum aterert commodo re luctus
        libero. Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Nullam consectetur orci sed rabitur vel lorem sit amet nulla ullamcorper
        fermentum.
      </p>
      <p>
        In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.
        Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="thirdDiv">
      <h1>Services</h1>
      <div class="row1">
        <div><h3>Branding</h3></div>
        <div><h3>Graphic Design</h3></div>
        <div><h3>Film</h3></div>
      </div>
      <div class="row2">
        <div><h3>Social Media</h3></div>
        <div><h3>Web Design</h3></div>
        <div><h3>Web marketing</h3></div>
      </div>
    </div>
  </div>
</section>
