<section>
  <div class="mainDiv">
    <div class="imageClass">
      <!-- <img src="../../assets/slider1.jpg">-->
      <div class="fontIcon">
        <h1>We'll Give Your Business Fresh Ideas</h1>
        <h3>Contact us by</h3>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
    </div>
    <div class="secondDiv">
      <h1>Welcome to Our Agency</h1>
    </div>
    <div class="thirdDiv">fdsf</div>
  </div>
</section>
