section {
  width: 100%;
}

.fontIcon {
  width: 300px;
  margin: auto;
  text-align: center;
  top: 20%;
  position: relative;
  font-size: 23px;
  color: whitesmoke;
}

.fontIcon .fa {
  width: 25px;
  padding: 15px;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 1px #A9A9A9;
  background-color: #A9A9A9;

}

.imageClass {
  background-image: url("../../assets/slider1.jpg");
  width: 1160px;
  height: 420px;
}
.secondDiv,.thirdDiv{
  width:1160px;
  height: 420px;

}
.secondDiv{

}
.thirdDiv{
  background-color: grey;
}
