<section class="headSection">
  <div class="mainServices">
    <div class="serviceList">
      <h2>Main Services</h2>
      <div class="service-items">
        <img src="../../assets/index-3_img-1.jpg">
        <div class="content-text">
          <h4><a>Derto minol</a></h4>
          <p>Gamus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur
            vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.Lamus at magna non nunc tristique
            rhoncuseri
            tym .
          </p>
        </div>

      </div>
      <div class="service-items">
        <img src="../../assets/index-3_img-2.jpg">
        <div class="content-text">
          <h4><a>Gerto sinol</a></h4>
          <p>Gamus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur
            vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.Lamus at magna non nunc tristique
            rhoncuseri
            tym .
          </p>
        </div>
      </div>
      <div class="service-items">
        <img src="../../assets/index-3_img-3.jpg">
        <div class="content-text">
          <h4><a>Ferto minolor</a></h4>
          <p>Gamus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur
            vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.Lamus at magna non nunc tristique
            rhoncuseri
            tym .
          </p>
        </div>
      </div>
      <div class="service-items">
        <img src="../../assets/index-3_img-4.jpg">
        <div class="content-text">
          <h4><a>Herto inolot</a></h4>
          <p>Gamus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur
            vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.Lamus at magna non nunc tristique
            rhoncuseri
            tym .
          </p>
        </div>
      </div>
      <div class="service-items">
        <img src="../../assets/index-3_img-5.jpg">
        <div class="content-text">
          <h4><a>Lerto minoled
          </a></h4>
          <p>Gamus at magna non nunc tristique rhoncuseri tym.
            Aliquam nibh ante, egestas id dictum aterert commodo re luctus libero.
            Praesent faucibus malesuada cibuste. Donec laoreet metus id laoreet malesuada.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed Curabitur
            vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula.
            Etiam dui eros, laoreet sit amet est vel, commodo venenatis eros.Lamus at magna non nunc tristique
            rhoncuseri
            tym .
          </p>
        </div>
      </div>
    </div>
    <div class="quick-link">
      <h1>links</h1>
    </div>
  </div>
  <div class="testimonalsSection">

  </div>
</section>
