.headerClass {
  height: 40px;
  background: tomato;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  display: inline-block;
  /*width: 600px;*/
  color: whitesmoke;

}

.logoIcon {
  margin-top: 41px;
  float: left;
}

.logoIcon .fa {
  font-size: 25px;
}

.navClass {
  margin-top: 75px;
  color: bisque;
  margin-right: 15px;
  padding: 5px;
  /*width: 517px;*/
}

.navClass a {
  padding: 10px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navClass a:hover {
  color: white;
}

nav {
  background: tomato;
  padding: 5px;
}

nav div h1 {
  width: 200px;
  padding: 8px;
  padding-left: 28px;
  /*display: grid;*/
}

nav div h1 a {
  font-size: 25px;
  font-weight: bold;
}

nav div h1 span {
  display: block;
  font-size: 18px;
}

.navClass {
  float: right;
}

.body-content {
  margin-top: 115px;
  z-index: 99;
}

.clear {
  clear: both;
}

footer {
  background-color: #423e3e;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: floralwhite;
  font-weight: bold;
}

.fourthDiv {
  background-color: darkkhaki;
  width: 1160px;
  height: 460px;
}

.fourthDiv h3 {
  text-decoration: underline;
  color: #423e3e;
  font-weight: normal;
  text-align: center;
  font-size: 50px;
  padding: 110px;
  margin: 0px;
}

.socialIcons .fa {
  width: 52px;
  display: inline-block;
  border-radius: 47px;
  box-shadow: 0px 0px 1px #A9A9A9;
  background-color: whitesmoke;
  padding: 21px;
  text-align: center;
  font-size: 49px;
  margin-left: 96px;
}

.socialIcons {
  margin: auto;
  width: 600px;
}

@media screen and (min-width: 326px) and (max-width: 425px) {
  //header {
  //  position: relative;
  //}
  .fourthDiv {
    width: 100%;
  }
  .socialIcons {
    margin: auto;
    width: 100%;
  }
  .socialIcons .fa{
    width: 30px;
    font-size: 28px;
    padding: 10px;
    margin-left: 50px;
  }
}
